extends ./layout.pug

block body
  div#editPostForm
    -var br = '<br />'
    form(action=`/gallery/${id}` method="post")
      input(type='hidden' name='_method' value='PUT')
      p Title
      input(type='text' name='title' value=title required)
      p Author
      input(type='text' name='author' value=author required)
      p Link
      input(type='text' name='link' value=link required)
      p Description
      textarea(name='description' rows='16' cols='48' required) #{description}
      p Hashtags
      input(type='text' name='hashtags' value=hashtags)
      !=br
      !=br
      input(type='submit' value='submit')