extends ./layout.pug

block body
  div#buttons
    a(href="/gallery/new")
      button New Photo
    if isLoggedIn
      <a href="/logout"><button>Log Out</button></a><h5>Logged in as #{username}</h5>
    else
      a(href="/login")
        button Log In
  div#featured
    img(src=`${featured.link}` id='featuredImage')
  div#main
    div#gallery
      each photo in gallery
        div.galleryPreview
          a(href=`/gallery/${photo.id}`)
            img(src=`${photo.link}` class='preview')
          h5 #{photo.title}