extends ./layout.pug

block body
  h5#photoTitle #{title}
  div#main
    div#photoDiv
      img(src=`${link}` class='detail')
      div#description
        h5 #{author}
        p #{description}
        p #{hashtags}
    div#sidebar
      each rel in relatedPhotos
        div.relatedPhoto
          img(src=`${rel.link}` class='relatedPreview')
        h5 #{rel.title}