extends ./../layout
block content
  div
    h3
      a(href="/gallery/new") New
  each photo in Photos
    #image-container
      a(href="/gallery/#{photo.id}")
        img(src="#{photo.link}")
    div
      ul
        li author : #{photo.author}
        li link:&nbsp;
          a(href="#{photo.link}") #{photo.link}
        li description: #{photo.description}
        li id: #{photo.id}
