extends ./../layout
block content
  div#mainHeader
    h3
      a(href="/gallery/new") New Picture Post
  div.photoBackground
    each photo in Photos
      div.image-container
        a(href="/gallery/#{photo.id}")
          img(src="#{photo.link}")
        ul.list
          li Post by: #{photo.author} -
            br
            //- a(href="#{photo.link}") #{photo.link}
