extends ./../layout

block content
  .single-feature
    img(src="#{Photo.link}")
  #main
    ul
      li author : #{Photo.author}
      li link:&nbsp;
        a(href="#{Photo.link}") #{Photo.link}
      li description: #{Photo.description}
    form(method="GET", action="/gallery/#{Photo.id}/edit")
          button(type="submit", value="submit") edit
    form(name="delete-photo", method="POST", action="/gallery/#{Photo.id}")
      input(type="hidden", name="_method", value="DELETE")
      button(type="submit", value="submit") delete

      li go back
