<!DOCTYPE html>
<html lang='en'>

<head>
    <% include ../partials/detail %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edit a Photo</title>
        <script>
            function updatePhoto() {
                const photoID = window.location.pathname.split('/')[2];
                const photoURL = `http://localhost:3003/gallery/${photoID}`;
                const formFinder = document.getElementById('edit_form')
                edit_form.action = photoURL;
            }
        </script>
</head>

<body class='container'>

    <header>
        <% include ../partials/header %>
    </header>
    <main>

        <form onsubmit="updatePhoto()" method="put" id="edit_form">
            <label for=" Author ">Author: </label>
            <input id=" " type="text " name="Author " value="<%=photo.author %>">
            <br>
            <label for="link">Web Link:</label>
            <input type='text' name='Link' value='<%= photo.link %>'>
            <br>
            <label for='desc'>Description:</label>
            <input type='text' name='Description' value='<%= photo.desc %>'>
            <br>
            <label for="class-type">Class Type:</label>
            <input type='text' name='Class' value="<%= photo.class %>">
            <br>
            <input type="submit" value="Submit">
        </form>
        <div class="main-photo-info">
            <img src='<%= photo.link %>' class='main-photo'>
            <br>
            <%= photo.class %>
                <br>
                <%= photo.desc %>
        </div>


    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>